.vscode/**
.vscode-test/**
src/**
test/**
out/test/**
**/*.ts
**/*.map
.gitignore
.vscodeignore
tsconfig.json
esbuild.js
.eslintrc.json
node_modules/@types/**
**/*.log
**/*.txt
scripts/**
icon.svg
ICON_README.md
!README.md
!CHANGELOG.md
!LICENSE
!bridge/**
